<p id="notice"><%= notice %></p>

<p>
  <strong>fieldDisplayId:</strong>
  <%= @textread.fieldDisplayId %>
</p>

<p>
  <strong>Truncation:</strong>
  <%= @textread.truncation %>
</p>

<p>
  <strong>Truncation format:</strong>
  <%= @textread.truncation_format %>
</p>

<p>
  <strong>Transformation:</strong>
  <%= @textread.transformation %>
</p>

<%= link_to 'Edit', edit_textread_path(@textread) %> |
<%= link_to 'Back', textreads_path %>
