
<h1><%= @modd_display.header %></h1>

<%if ['index', 'show'].include? params[:action]%>
<%= render partial: "layouts/mvcgui_read" %>
<%else %>
 <%= render partial: "layouts/mvcgui_write" %>
<% end%>

